extends base.pug

block content 
    h4 Update Video
    form(method="POST")
        input(name="title", placeholer="Video Title", value=video.title, required)
        input(placeholder="Description", name="description",value=video.description, type="text", required, minlength=2)
        input(placeholder="Hashtags, separated by comma.", name="hashtags", value=video.hashtags.join(),type="text", required)
        input(value="Save", type="submit")