form(action="/add", method="POST")
    input(type="text", placeholder="Title", name="title")
    input(type="text", placeholder="synopsis", name="synopsis")
    input(type="text", placeholder="Genres", name="genres")
    input(type="submit", value="Add Movie")