form(action="/filter", method="GET")
    input(type="text", placeholder="filter by year", name="year")
    input(type="text", placeholder="filter by rating", name="rating")
    input(type="submit", value="search")